$gray_bg: rgba(169, 169, 169, 0.67);

%selectable {
  border: rel-size(2) solid $gray-500;
  &:hover {
    box-shadow: 0 0 rel-size(5) rel-size(5) $gray-500;
  }
}

.srsi {
  .board {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    background-color: #2a753a;

    grid-template-columns: 10% 15% auto 35%;
    grid-template-rows: 50% 40% 10%;

    > .deck {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    > .pile {
      grid-column: 3;
      grid-row: 1;
    }

    > .remotes {
      grid-column: 4;
      grid-row: 1;
    }

    > .ui {
      grid-column: 1;
      grid-row: 2 / span 2;
    }

    > .local-cards {
      grid-column: 2 / span 3;
      grid-row: 2;
    }

    > .printout {
      grid-column: 2 / span 3;
      grid-row: 3;
    }

  }

  .cards-pile {
    .floating-label {
      position: absolute;
      top: rel-size(10);
      .suit {
        margin-left: rel-size(10);
      }
    }
  }

  .cards-hand-local {
    .srsi-cards > div {
      top: 0;
      transition: top 0.2s, transform 0.2s;
      &.-selectable {
        &:hover {
          top: rel-size(- ceil($srsi-card-height * .2));
        }
      }
    }

    .floating-label {
      position: absolute;
      bottom: 0;
      .button {
        margin: rel-size(10);
      }
    }
  }

  .remotes-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    > div {
      flex: 1 1;
      position: relative;
    }

    .floating-label {
      position: absolute;
      right: rel-size(10);
    }
  }

  .ui-panel {
    height: 100%;
    border-bottom: none;
    border-left: none;
    border-radius: revert;
    border-top-right-radius: $srsi-ui-panel-border-size;

    > .-panel-holder {
      height: 0;
    }

    > .ui-buttons {
      height: 100%;
      position: relative;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;

        .srsi-button {
          padding: spacer(1) spacer(2);
        }
      }
    }

    .panel-overlay {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .panel-container {
      width: 70%;
      height: 60%;
      position: relative;
      padding: $srsi-ui-panel-border-size;

      .-header {
        $_header_height: 2em;
        position: absolute;
        line-height: $_header_height;
        top: - $_header_height;
        padding: 0 ($_header_height / 2);
      }

      .-close {
        position: absolute;
        top: 0;
        right: 0;

        > div {
          margin-top: -50%;
          margin-left: 50%;
        }
        .srsi-button {
          padding: 0 0;
        }
      }
    }
  }

  .ui-lobby-panel {
    height: 100%;

    .center-child.lobby-login-form > div {
      width: 50%;
    }
  }

}

@each $size, $value in $srsi-spacers {
  .srsi-m#{$size} { margin: $value; }
  .srsi-mt#{$size} { margin-top: $value; }
  .srsi-mr#{$size} { margin-right: $value; }
  .srsi-mb#{$size} { margin-bottom: $value; }
  .srsi-ml#{$size} { margin-left: $value; }
  .srsi-p#{$size} { padding: $value; }
  .srsi-pt#{$size} { padding-top: $value; }
  .srsi-pr#{$size} { padding-right: $value; }
  .srsi-pb#{$size} { padding-bottom: $value; }
  .srsi-pl#{$size} { padding-left: $value; }
}

.center-child {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.srsi-cards {
  position: relative;

  > div {
    position: absolute;
    border: rel-size(2) solid $gray-500;

    width: rel-size($srsi-card-widht);
    height: rel-size($srsi-card-height);

    img {
      width: 100%;
      height: 100%;
    }

    &.-selectable {
      @extend %selectable;
    }
  }

  &.-small {
    > div {
      width: rel-size($srsi-card-small-widht);
      height: rel-size($srsi-card-small-height);
    }
  }
}

.floating-label {
  font-size: 1.4em;
  background-color: $gray_bg;
  padding: rel-size(5) rel-size(10);
  font-weight: bold;
  z-index: 1;
  display: flex;
  align-items: center;

  .suit {
    font-size: 3em;
    line-height: 2em;
    &.-red { color: red; }
  }
}

.button {
  background-color: white;
  padding: rel-size(5) rel-size(10);
  display: flex;
  align-items: center;
  @extend %selectable;

  &:hover {
    cursor: pointer;
  }

}

.srsi-panel {
  background-color: $srsi-ui-color-bg;
  border: $srsi-ui-panel-border;
  border-style: solid;
  border-radius: $srsi-ui-panel-border-size;
}

.srsi-button {
  background-color: $srsi-ui-control;
  border: $srsi-ui-panel-border;
  border-radius: $srsi-ui-panel-border-size;
  border-bottom: none;
  border-left: none;
  border-bottom-left-radius: revert;
  color: $srsi-ui-control-text;
  &:enabled:hover:active {
    background-color: $srsi-ui-control-bg-down;
  }
}

.srsi-button-flat {
  color: $srsi-ui-control;
  border: none;
  background-color: #00000000;
  &:enabled:hover {
    color: darken($srsi-ui-control, 20%);
  }
}

.srsi-input {
  width: 100%;
}
