$gray_bg: rgba(169, 169, 169, 0.67);

%selectable {
  border: rel-size(2) solid $gray-500;
  &:hover {
    box-shadow: 0 0 rel-size(5) rel-size(5) $gray-500;
  }
}

.srsi {
  .board {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #2a753a;

    grid-template-columns: 10% 15% auto 35%;
    grid-template-rows: 50% 40% 10%;

    > .deck {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    > .pile {
      grid-column: 3;
      grid-row: 1;
    }

    > .remotes {
      grid-column: 4;
      grid-row: 1;
    }

    > .ui {
      grid-column: 1;
      grid-row: 2 / span 2;
      background-color: rgba(255, 126, 0, 0.56);
    }

    > .local-cards {
      grid-column: 2 / span 3;
      grid-row: 2;
    }

    > .printout {
      grid-column: 2 / span 3;
      grid-row: 3;
    }

  }

  .cards-pile {
    .floating-label {
      position: absolute;
      top: rel-size(10);
      .suit {
        margin-left: rel-size(10);
      }
    }
  }

  .cards-hand-local {
    .srsi-cards > div {
      top: 0;
      transition: top 0.2s, transform 0.2s;
      &.-selectable {
        &:hover {
          top: rel-size(-ceil(constr('card.regular.height') * 0.2));
        }
      }
    }

    .floating-label {
      position: absolute;
      bottom: 0;
      .button {
        margin: rel-size(10);
      }
    }
  }

  .remotes-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    > div {
      flex: 1 1;
      position: relative;
    }

    .floating-label {
      position: absolute;
      right: rel-size(10);
    }
  }

}

.center-child {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.srsi-cards {
  position: relative;

  > div {
    position: absolute;
    border: rel-size(2) solid $gray-500;

    width: rel-size(constr('card.regular.width'));
    height: rel-size(constr('card.regular.height'));

    img {
      width: 100%;
      height: 100%;
    }

    &.-selectable {
      @extend %selectable;
    }
  }

  &.-small {
    > div {
      width: rel-size(constr('card.small.width'));
      height: rel-size(constr('card.small.height'));
    }
  }
}

.floating-label {
  font-size: 1.4em;
  background-color: $gray_bg;
  padding: rel-size(5) rel-size(10);
  font-weight: bold;
  z-index: 10;
  display: flex;
  align-items: center;

  .suit {
    font-size: 3em;
    line-height: 2em;
    &.-red { color: red; }
  }
}

.button {
  background-color: white;
  padding: rel-size(5) rel-size(10);
  display: flex;
  align-items: center;
  @extend %selectable;

  &:hover {
    cursor: pointer;
  }

}
