.srsi {
  background-color: #2a753a;

  .board {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 10% 15% auto 35%;
    grid-template-rows: 50% 40% 10%;

    > .-deck {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    > .-pile {
      grid-column: 3;
      grid-row: 1;
    }

    > .-remotes {
      grid-column: 4;
      grid-row: 1;
    }

    > .-ui {
      grid-column: 1;
      grid-row: 2 / span 2;
      background-color: rgba(255, 126, 0, 0.56);
    }

    > .-local-cards {
      grid-column: 2 / span 3;
      grid-row: 2;
    }

    > .-printout {
      grid-column: 2 / span 3;
      grid-row: 3;
    }
  }

  .cards-hand-local {
    &.srsi-cards > div {
      top: 0;
      transition: top 0.2s, transform 0.2s;
      &.-selectable {
        &:hover {
          top: -#{ceil(constr('card.regular.height') * 0.2)}px;
        }
      }
    }
  }

  .remotes-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    > div {
      flex: 1 1;
      position: relative;
    }

    .remote-label {
      position: absolute;
      left: 0;
      z-index: 10;
      padding: 5px;
      background-color: rgba(169, 169, 169, 0.67);
      font-weight: bold;
      font-size: 140%;
    }
  }

}

.center-child {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.srsi-cards {
  position: relative;

  > div {
    position: absolute;
    border: 2px solid $gray-500;

    width: #{constr('card.regular.width')}px;
    height: #{constr('card.regular.height')}px;

    img {
      width: 100%;
      height: 100%;
    }

    &.-selectable {
      &:hover {
        box-shadow: 0 0 5px 5px $gray-500;
      }
    }
  }

  &.-small {
    > div {
      width: #{constr('card.small.width')}px;
      height: #{constr('card.small.height')}px;
    }
  }
}
