(function () {
    var root = document.getElementById('srsi-app-container');
    if (!root) {
        console.error('Expected to find a node with id=srsi-app-container.');
        throw 'container not present';
    }
    root.innerHTML = '';

    var styles = document.createElement('LINK');
    styles.setAttribute('rel', 'stylesheet');
    styles.setAttribute('type', 'text/css');
    styles.setAttribute('href', '<%= asset 'app.css' %>');
    root.appendChild(styles);

    var mount = document.createElement('DIV');
    mount.id = 'srsi-mount-point';
    mount.className = 'srsi';
    mount.innerHTML = `
<div class="app-flash">
  <h2>Initializing ...</h2>
</div>
    `;
    root.appendChild(mount);

    var app = document.createElement('SCRIPT');
    app.setAttribute('src', '<%= asset 'app.js' %>');
    root.appendChild(app);
}());
