.srsi {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .platform-flash {
    margin: rel-size(10);
    padding: rel-size(10);
    border: rel-size(3) solid $gray-400;
    color: $gray-400;
  }
}
